@import '../../style/default.less'; 
.header{
    background-color: @colorM;
    .header-top{
        height:60px;
        line-height:60px;
        text-align:right;
        padding:0 20px;
        border-bottom:1px solid #f9c700;
        a{
            margin-left:40px;
        }
    }
    .breadcrumb{
        height:40px;
        line-height:40px;
        //面包屑 导航显示当前位置
        .breadcrumb-title{
            font-size: @fontC;
            text-align: center;
            // 伪类
            //下三角
            &:after{
                position:absolute;
                content:'';
                left:82px;
                top:40px;
                border:10px solid @colorM;
                border-bottom:10px solid transparent;
                border-left:10px solid transparent;
                border-right:10px solid transparent;


            }
        }
        .weather{
            text-align: right;
            padding: 0 20px;
            .weather-detail{
                padding-left:10px;
            }
        }
    }
}